html
{
  scroll-behavior: smooth;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  overflow-x: hidden;
}

.container-fluid {
    background-color: #fffaf3;
    color: #233560;
}

.navbar {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.3);

  #logo-disbug-img {
    height: 40px;
    cursor: pointer;
  }

  .logo
  {
    cursor: pointer;
    
    &:hover{
      color: #233560;
    }
  }
}

.section1 {
  .sec1-main-img {
    height: 85%;
  }

  .heading{
    h1
    {
      width: 24vw;
      border-right: solid 5px;
      white-space: nowrap;
      overflow: hidden;
      padding-left:24vw;
      animation: textTyping 2s ease normal both;
    }

    @keyframes textTyping {
      from{width: 0;}
      to{width: 73vw; border-right: solid 0px;}
    }

    @keyframes cursorBlinking {
      from{border-right-color: rgba(255,255,255,.75);}
      to{border-right-color: transparent; border-right: solid 5px;  }
      
    }
  }

  button {
    width: 41%;
    border-radius: 8px;
  }

  .disbug-btn {
    background-color: #1a73e8;
    cursor: pointer;
    opacity: 1;
    transition: opacity 0.5s ease, background-color 0.5s ease;
    transform: translateY(0px);
   

    &:hover{
      background-color: #18489e;
      color: #fff;
    }
  }

  .demo-btn
  {
    background-color: #ffffff;
    cursor: pointer;
    opacity: 1;
    transition: all 0.5s ease-in-out;
    transition: opacity 0.5s ease, background-color 0.5s ease;
    transform: translateY(0px);
   

    &:hover{  
      background-color: #233560;
      color: #fff;
    }
  }

  .btn-img {
    height: 25px;
    cursor: pointer;
  }

  //Section - 1 - developer Image 
  .sec1-img1-animate
  {
    transform: translateX(0px), rotate(0deg);
    opacity: 1;
  }

  //Section - 1 - Tester Image 
  .sec1-img2-animate
  {
    transform: translateX(0px) , rotate(0deg);
    opacity: 1;
  }

}

.section2 {
  img {
    height: 500px;
  }
}

.section3 {
    .heading-img {
      height: 200px;
    }
    .align-center {
        text-align: center;
      }
      
    ul {
        display: inline-block;
        text-align: left;

        li
        {
          list-style-image: url(./asserts/tickmark.svg);
        }
      }
}

// Float Icon for demo btn and Chrome Button

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#1a73e8;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  box-shadow: 2px 2px 3px #999;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  cursor: pointer;
  transition: all 0.5s ease-in-out;

  &:nth-child(2)
  {
    bottom:120px;
    background-color:#fff;

    &:hover{
      background-color: #233560;

      p{
        color: #fff;
      }
    }
  }

    img {
      max-width: 39px;
      max-height: 36px;
      /* text-align: center; */
      padding-left: 3px;
    }
 
    

    p{
      opacity: 0;
      color: #18489e;
      width: 0px;
      height: 0px;
      transition: all 0.01s ease 0.4s;
    }
    



    &:hover
    {
      width:210px;
      justify-content: left;
      background-color: #18489e;
      img
      {
        margin-left: 20px;

      }

      p{
        opacity: 1;
        color: #fff;
        width: 130px;
        height: 11px;
        font-family: 'Nunito Sans', sans-serif;
        font-size:16px ;
        text-align: center;

        }
      }

    
}