html
{
  scroll-behavior: smooth;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  overflow-x: hidden;
}

.container-fluid {
    background-color: #fffaf3;
    color: #233560;
}

.navbar {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.3);

  #logo-disbug-img {
    height: 40px;
  }
}

.section1 {
  .sec1-main-img {
    height: 85%;
  }

  button {
    width: 41%;
    border-radius: 8px;
  }

  .disbug-btn {
    background-color: #1a73e8;
    cursor: pointer;
    opacity: 1;
    transition: all 0.5s ease-in-out;

    &:hover{
      background-color: #18489e;
      color: #fff;
    }
  }

  .demo-btn
  {
    background-color: #ffffff;
    cursor: pointer;
    opacity: 1;
    transition: all 0.5s ease-in-out;

    &:hover{  
      background-color: #233560;
      color: #fff;
    }
  }

  .btn-img {
    height: 25px;
    cursor: pointer;
  }

  //Section - 1 - developer Image 
  .sec1-img1-animate
  {
    transform: translateX(0px), rotate(0deg);
    opacity: 1;
  }

  //Section - 1 - Tester Image 
  .sec1-img2-animate
  {
    transform: translateX(0px) , rotate(0deg);
    opacity: 1;
  }

}

.section2 {
  img {
    height: 500px;
  }
}

.section3 {
    .heading-img {
      height: 200px;
    }
    .align-center {
        text-align: center;
      }
      
    ul {
        display: inline-block;
        text-align: left;
      }
}