html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  overflow-x: hidden;
}

.container-fluid {
  background-color: #fffaf3;
  color: #233560;
}

.navbar {
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}

.navbar #logo-disbug-img {
  height: 40px;
  cursor: pointer;
}

.navbar .logo {
  cursor: pointer;
}

.navbar .logo:hover {
  color: #233560;
}

.section1 .sec1-main-img {
  height: 85%;
}

.section1 .heading h1 {
  width: 24vw;
  border-right: solid 5px;
  white-space: nowrap;
  overflow: hidden;
  padding-left: 24vw;
  -webkit-animation: textTyping 2s ease normal both;
          animation: textTyping 2s ease normal both;
}

@-webkit-keyframes textTyping {
  from {
    width: 0;
  }
  to {
    width: 73vw;
    border-right: solid 0px;
  }
}

@keyframes textTyping {
  from {
    width: 0;
  }
  to {
    width: 73vw;
    border-right: solid 0px;
  }
}

@-webkit-keyframes cursorBlinking {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }
  to {
    border-right-color: transparent;
    border-right: solid 5px;
  }
}

@keyframes cursorBlinking {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }
  to {
    border-right-color: transparent;
    border-right: solid 5px;
  }
}

.section1 button {
  width: 41%;
  border-radius: 8px;
}

.section1 .disbug-btn {
  cursor: pointer;
  opacity: 1;
  -webkit-transition: opacity 0.5s ease, background-color 0.5s ease;
  transition: opacity 0.5s ease, background-color 0.5s ease;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.section1 .disbug-btn:hover {
  background-color: #18489e;
  color: #fff;
}

.section1 .demo-btn {
  background-color: #ffffff;
  cursor: pointer;
  opacity: 1;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transition: opacity 0.5s ease, background-color 0.5s ease;
  transition: opacity 0.5s ease, background-color 0.5s ease;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.section1 .demo-btn:hover {
  background-color: #233560;
  color: #fff;
}

.section1 .btn-img {
  height: 25px;
  cursor: pointer;
}

.section1 .sec1-img1-animate {
  -webkit-transform: translateX(0px), rotate(0deg);
          transform: translateX(0px), rotate(0deg);
  opacity: 1;
}

.section1 .sec1-img2-animate {
  -webkit-transform: translateX(0px), rotate(0deg);
          transform: translateX(0px), rotate(0deg);
  opacity: 1;
}

.section2 {
  position: relative;
}

.section2 .section2_BG {
  position: absolute;
  right: 0;
  top: -45px;
  height: 250px;
}

.section2 img {
  height: 400px;
}

.section2 svg {
  height: 400px;
}

.section2 .s2_svg2 #s2_withdis_path1 {
  stroke-dasharray: 190;
  stroke-dashoffset: 200;
  stroke-width: 2.5px;
}

.section2 .s2_svg2 #s2_withdis_path2 {
  stroke-dasharray: 43;
  stroke-dashoffset: 53;
  stroke-width: 2.5px;
}

.section2 .s2_svg2 #s2_withdis_path3 {
  stroke-dasharray: 43;
  stroke-dashoffset: 53;
  stroke-width: 2.5px;
}

.section2 .s2_svg2 #s2_withdis_path4 {
  stroke-dasharray: 180;
  stroke-dashoffset: 200;
  stroke-width: 2.5px;
}

.section2 .s2_svg2 #s2_withdis_path_back {
  opacity: 0.5;
}

.section2 .s2_svg2 #man1 {
  opacity: 0.5;
  stroke-dasharray: 100;
  stroke-dashoffset: 100;
}

.section2 .s2_svg2 #man2 {
  opacity: 0.5;
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
}

.section2 .s2_svg2 .s2_svg2_block_back {
  opacity: 0.5;
}

.section2 .s2_svg2 .s2_svg2_block_front {
  opacity: 0;
  stroke-width: 2px;
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  -webkit-transform: scale(1);
          transform: scale(1);
  transform-box: fill-box;
  -webkit-transform-origin: center;
          transform-origin: center;
}

.section2 .s2_svg2 #s2_svg_man2_hand {
  transform-box: fill-box;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.section2 .section2_leftBG {
  position: absolute;
  left: 0;
  bottom: -90px;
  height: 250px;
}

.section3 .heading-img {
  height: 150px;
}

.section3 .s3_heading .letter {
  -webkit-transform-origin: 0 100%;
          transform-origin: 0 100%;
  display: inline-block;
}

.section3 .s3_heading .s3_heading_wrapper {
  overflow: hidden;
}

.section3 .align-center {
  text-align: center;
}

.section3 ul {
  display: inline-block;
  text-align: left;
}

.section3 ul li {
  list-style-image: url(./asserts/tickmark.svg);
}

.section4 {
  position: relative;
}

.section4 .section4_BG {
  position: absolute;
  right: 0;
  top: -70px;
  height: 200px;
}

.section4 img {
  height: 100px;
}

.section4 .contact-container {
  background-color: #fffaf3;
  max-width: 330px;
  min-width: 330px;
  vertical-align: top;
}

.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #1a73e8;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  -webkit-box-shadow: 2px 2px 3px #999;
          box-shadow: 2px 2px 3px #999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.float:nth-child(2) {
  bottom: 120px;
  background-color: #fff;
}

.float:nth-child(2):hover {
  background-color: #233560;
}

.float:nth-child(2):hover p {
  color: #fff;
}

.float img {
  max-width: 39px;
  max-height: 36px;
  /* text-align: center; */
  padding-left: 3px;
}

.float p {
  opacity: 0;
  color: #18489e;
  width: 0px;
  height: 0px;
  -webkit-transition: all 0.01s ease 0.4s;
  transition: all 0.01s ease 0.4s;
}

.float:hover {
  width: 210px;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  background-color: #18489e;
}

.float:hover img {
  margin-left: 20px;
}

.float:hover p {
  opacity: 1;
  color: #fff;
  width: 130px;
  height: 11px;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 16px;
  text-align: center;
}

[data-scroll] {
  -webkit-transition: -webkit-transform 2.2s ease;
  transition: -webkit-transform 2.2s ease;
  transition: transform 2.2s ease;
  transition: transform 2.2s ease, -webkit-transform 2.2s ease;
}

[data-scroll="in"] {
  -webkit-transform: translateY(0vh);
          transform: translateY(0vh);
}

[data-scroll="out"] {
  -webkit-transform: translateY(8vh);
          transform: translateY(8vh);
}
/*# sourceMappingURL=styles.css.map */