html {
  scroll-behavior: smooth;
}

.spinner-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #FFFAF2;
  z-index: 999999;
}

.spinner-wrapper #preload_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
}

.spinner-wrapper #preload_flex #preload_img_div {
  height: 50vh;
  width: 45vw;
  margin-bottom: 15vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.spinner-wrapper #preload_flex #preload_img_div #preload_img {
  width: 50%;
  height: 50%;
  opacity: 0.5;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-transition: opacity 1s ease infinite 2s;
  transition: opacity 1s ease infinite 2s;
}

.spinner-wrapper #preload_flex #preload_txt_div {
  width: 45vw;
  height: 30vh;
  padding-top: 30vh;
}

.spinner-wrapper #preload_flex #preload_txt_div .preload_txt {
  border-right: solid 5px;
  white-space: nowrap;
  overflow: hidden;
  width: 10vw;
  -webkit-animation: textTyping 1.5s ease normal both;
          animation: textTyping 1.5s ease normal both;
}

body {
  font-family: "Nunito Sans", sans-serif;
  overflow-x: hidden;
}

.container-fluid {
  background-color: #fffaf3;
  color: #1a1a1a;
}

.navbar {
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}

.navbar #logo-disbug-img {
  height: 40px;
  cursor: pointer;
}

.navbar .logo {
  cursor: pointer;
}

.navbar .logo:hover {
  color: #233560;
}

.navbar .navbar_button {
  border-radius: 0 !important;
  border: 2px solid #333;
  padding-left: 20vw;
  padding-right: 20vw;
}

.navbar .navbar_button:hover {
  border: 2px solid #D76C38;
  fill: none !important;
  background-color: #fff !important;
}

.section1 .sec1-main-img {
  height: 85%;
}

.section1 #sec1_button_1 {
  border-radius: 0 !important;
}

.section1 #sec1_button_1:hover #s1_button_1 {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.section1 #sec1_button_1 #s1_button_1 {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transform-origin: 45% 50%;
          transform-origin: 45% 50%;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

.section1 #sec1_button_2 {
  border-radius: 0 !important;
  border: 2px solid #333;
}

.section1 #sec1_button_2:hover #s1_button_2 {
  -webkit-transform: translateX(0.9vw) translateY(0.3vw) scale(1.4);
          transform: translateX(0.9vw) translateY(0.3vw) scale(1.4);
}

.section1 #sec1_button_2:hover #s1_button_2 #Vector11 {
  fill: #fff;
  stroke: #fff;
}

.section1 #sec1_button_2 #s1_button_2 {
  -webkit-transform: translateX(0.3vw) translateY(0.3vw) scale(1.4);
          transform: translateX(0.3vw) translateY(0.3vw) scale(1.4);
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

.section1 .heading h1 {
  width: 70vw;
  padding-left: 24vw;
}

@-webkit-keyframes textTyping {
  from {
    width: 0;
  }
  to {
    width: 40vw;
    border-right: solid 0px;
  }
}

@keyframes textTyping {
  from {
    width: 0;
  }
  to {
    width: 40vw;
    border-right: solid 0px;
  }
}

@-webkit-keyframes cursorBlinking {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }
  to {
    border-right-color: transparent;
    border-right: solid 5px;
  }
}

@keyframes cursorBlinking {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }
  to {
    border-right-color: transparent;
    border-right: solid 5px;
  }
}

.section1 button {
  width: 41%;
  border-radius: 8px;
}

.section1 .disbug-btn {
  cursor: pointer;
  opacity: 1;
  -webkit-transition: opacity 0.5s ease, background-color 0.5s ease;
  transition: opacity 0.5s ease, background-color 0.5s ease;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.section1 .disbug-btn:hover {
  background-color: #18489e;
  color: #fff;
}

.section1 .demo-btn {
  background-color: #ffffff;
  cursor: pointer;
  opacity: 1;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transition: opacity 0.5s ease, background-color 0.5s ease;
  transition: opacity 0.5s ease, background-color 0.5s ease;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.section1 .demo-btn:hover {
  background-color: #233560;
  color: #fff;
}

.section1 .btn-img {
  height: 25px;
  cursor: pointer;
}

.section1 .sec1-img1-animate {
  -webkit-transform: translateX(0px), rotate(0deg);
          transform: translateX(0px), rotate(0deg);
  opacity: 1;
}

.section1 .sec1-img2-animate {
  -webkit-transform: translateX(0px), rotate(0deg);
          transform: translateX(0px), rotate(0deg);
  opacity: 1;
}

.section2 {
  position: relative;
}

.section2 .section2_BG {
  position: absolute;
  right: 0;
  top: -45px;
  height: 250px;
}

.section2 img {
  height: 400px;
}

.section2 svg {
  height: 400px;
}

.section2 #s2_svg_description_below {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: #55595c;
}

.section2 .s2_svg2 {
  max-width: 50vw;
}

.section2 .s2_svg2 #s2_withdis_path1 {
  stroke-dasharray: 160;
  stroke-dashoffset: 200;
  stroke-width: 2.5px;
}

.section2 .s2_svg2 #s2_withdis_path2 {
  stroke-dasharray: 43;
  stroke-dashoffset: 53;
  stroke-width: 2.5px;
}

.section2 .s2_svg2 #s2_withdis_path3 {
  stroke-dasharray: 43;
  stroke-dashoffset: 53;
  stroke-width: 2.5px;
}

.section2 .s2_svg2 #s2_withdis_path4 {
  stroke-dasharray: 150;
  stroke-dashoffset: 150;
  stroke-width: 2.5px;
}

.section2 .s2_svg2 #s2_withdis_path_back {
  opacity: 0.5;
}

.section2 .s2_svg2 #man1 {
  opacity: 0.5;
  stroke-dasharray: 100;
  stroke-dashoffset: 100;
}

.section2 .s2_svg2 #man2 {
  opacity: 0.5;
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
}

.section2 .s2_svg2 #Flicks {
  opacity: 0;
}

.section2 .s2_svg2 #Tick {
  opacity: 0;
  stroke-dasharray: 150;
  stroke-dashoffset: 150;
}

.section2 .s2_svg2 .s2_svg2_block_back {
  opacity: 0.5;
}

.section2 .s2_svg2 .s2_svg2_block_front {
  opacity: 0;
  stroke-width: 1px;
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  -webkit-transform: scale(1);
          transform: scale(1);
  transform-box: fill-box;
  -webkit-transform-origin: center;
          transform-origin: center;
}

.section2 .s2_svg2 #s2_svg_man2_hand {
  transform-box: fill-box;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.section2 .s2_svg2 #block1 {
  -webkit-transform-origin: center;
          transform-origin: center;
  transform-box: fill-box;
}

.section2 .s2_svg2 #block2 {
  -webkit-transform-origin: center;
          transform-origin: center;
  transform-box: fill-box;
}

.section2 .s2_svg2 #block3 {
  -webkit-transform-origin: center;
          transform-origin: center;
  transform-box: fill-box;
}

.section2 .s2_svg2 #block4 {
  -webkit-transform-origin: center;
          transform-origin: center;
  transform-box: fill-box;
}

.section2 .s2_svg1 {
  max-width: 50vw;
}

.section2 .s2_svg1 #s2_withoutdis_path1 {
  stroke-dasharray: 68;
  stroke-dashoffset: 68;
  stroke-width: 2.5px;
}

.section2 .s2_svg1 #s2_withoutdis_path2 {
  stroke-dasharray: 183;
  stroke-dashoffset: 183;
  stroke-width: 2.5px;
}

.section2 .s2_svg1 #s2_withoutdis_path3 {
  stroke-dasharray: 91;
  stroke-dashoffset: 91;
  stroke-width: 2.5px;
}

.section2 .s2_svg1 #s2_withoutdis_path4 {
  stroke-dasharray: 225;
  stroke-dashoffset: 225;
  stroke-width: 2.5px;
}

.section2 .s2_svg1 #s2_withoutdis_path5 {
  stroke-dasharray: 424;
  stroke-dashoffset: 424;
  stroke-width: 2.5px;
}

.section2 .s2_svg1 #s2_withoutdis_path6 {
  stroke-dasharray: 119;
  stroke-dashoffset: 119;
  stroke-width: 2.5px;
}

.section2 .s2_svg1 #s2_withoutdis_path7 {
  stroke-dasharray: 309;
  stroke-dashoffset: 309;
  stroke-width: 2.5px;
}

.section2 .s2_svg1 #s2_withoutdis_path_back {
  opacity: 0.5;
}

.section2 .s2_svg1 #man1_wod {
  opacity: 0.5;
  stroke-dasharray: 100;
  stroke-dashoffset: 100;
}

.section2 .s2_svg1 #man2_wod {
  opacity: 0.5;
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
}

.section2 .s2_svg1 .s2_svg2_block_back {
  opacity: 0.5;
}

.section2 .s2_svg1 .s2_svg2_block_front {
  opacity: 0;
  stroke-width: 1px;
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  -webkit-transform: scale(1);
          transform: scale(1);
  transform-box: fill-box;
  -webkit-transform-origin: center;
          transform-origin: center;
}

.section2 .s2_svg1 #s2_svg_man2_hand {
  transform-box: fill-box;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.section2 .s2_svg1 #block1_wod {
  -webkit-transform-origin: center;
          transform-origin: center;
  transform-box: fill-box;
}

.section2 .s2_svg1 #block2_wod {
  -webkit-transform-origin: center;
          transform-origin: center;
  transform-box: fill-box;
}

.section2 .s2_svg1 #block3_wod {
  -webkit-transform-origin: center;
          transform-origin: center;
  transform-box: fill-box;
}

.section2 .s2_svg1 #block4_wod {
  -webkit-transform-origin: center;
          transform-origin: center;
  transform-box: fill-box;
}

.section2 .s2_svg1 #block5_wod {
  -webkit-transform-origin: center;
          transform-origin: center;
  transform-box: fill-box;
}

.section2 .s2_svg1 #block6_wod {
  -webkit-transform-origin: center;
          transform-origin: center;
  transform-box: fill-box;
}

.section2 .s2_svg1 #chat1 {
  opacity: 0;
}

.section2 .s2_svg1 #chat2 {
  opacity: 0;
}

.section2 .s2_svg1 #chat3 {
  opacity: 0;
}

.section2 .s2_svg1 #chat4 {
  opacity: 0;
}

.section2 .s2_svg1 #Question {
  opacity: 0;
  -webkit-transform: translateY(0vw) translateX(0vh);
          transform: translateY(0vw) translateX(0vh);
}

.section2 .s2_svg1 #Spiral {
  stroke-dasharray: 92px;
  stroke-dashoffset: 95px;
  -webkit-transition: all ease;
  transition: all ease;
}

.section2 .section2_leftBG {
  position: absolute;
  left: 0;
  bottom: -90px;
  height: 250px;
}

.section3 .heading-img {
  height: 150px;
}

.section3 .s3_heading .letter {
  -webkit-transform-origin: 0 100%;
          transform-origin: 0 100%;
  display: inline-block;
}

.section3 .s3_heading .s3_heading_wrapper {
  overflow: hidden;
}

.section3 .align-center {
  text-align: center;
}

.section3 ul {
  display: inline-block;
  text-align: left;
}

.section3 ul li {
  list-style-image: url(./asserts/tickmark.svg);
}

.section4 {
  position: relative;
}

.section4 .twitter_container {
  background-color: #fffaf3;
  margin: 0px 40px 0px 40px;
}

.section4 .section4_BG {
  position: absolute;
  right: 0;
  top: -75px;
  height: 200px;
}

.section4 img {
  height: 100px;
}

.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #1a73e8;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  -webkit-box-shadow: 2px 2px 3px #999;
          box-shadow: 2px 2px 3px #999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.float:nth-child(2) {
  bottom: 120px;
  background-color: #fff;
}

.float:nth-child(2):hover {
  background-color: #233560;
}

.float:nth-child(2):hover p {
  color: #fff;
}

.float img {
  max-width: 39px;
  max-height: 36px;
  /* text-align: center; */
  padding-left: 3px;
}

.float p {
  opacity: 0;
  color: #18489e;
  width: 0px;
  height: 0px;
  -webkit-transition: all 0.01s ease 0.4s;
  transition: all 0.01s ease 0.4s;
}

.float:hover {
  width: 210px;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  background-color: #18489e;
}

.float:hover img {
  margin-left: 20px;
}

.float:hover p {
  opacity: 1;
  color: #fff;
  width: 130px;
  height: 11px;
  font-family: "Nunito Sans", sans-serif;
  font-size: 16px;
  text-align: center;
}

[data-scroll] {
  -webkit-transition: -webkit-transform 2.2s ease;
  transition: -webkit-transform 2.2s ease;
  transition: transform 2.2s ease;
  transition: transform 2.2s ease, -webkit-transform 2.2s ease;
}

[data-scroll="in"] {
  -webkit-transform: translateY(0vh);
          transform: translateY(0vh);
}

[data-scroll="out"] {
  -webkit-transform: translateY(8vh);
          transform: translateY(8vh);
}
/*# sourceMappingURL=styles.css.map */